[submodule "custom-addons"]
	path = custom-addons
	url = git@github-custom-addons:CompactCodeEU/odoo-thribe-custom-addons.git
	branch = main
[submodule "extra-addons"]
	path = extra-addons
	url = git@github-extra-addons:CompactCodeEU/odoo-thribe-extra-addons.git
	branch = main
[submodule "enterprise"]
	path = enterprise
	url = git@github-enterprise:CompactCodeEU/enterprise-thribe.git
	branch = 18.0
